@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Page Title";
}
            <table class="table table table-bordered">
                <thead>
                    <tr>
                        <th>Book Id
                        <th>Title
                        <th>Description
                        <th>Author Name
                    </tr>
                </thead>
                <tbody>
                  
                </tbody>
            </table>